@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

  .container {
    display: flex;
  }

.navv {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #DCFFFB;
  overflow: hidden;
  transition: 1s;
}

.navv:hover {
  width: 280px;
  transition: 1s;
}

.logo2 {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo2 img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo2 span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a .logo2 {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}

.navv .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}


.navv-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover .logo2{
  background: #eee;
}

a:hover i .logo2{
  color: #C8ECF2;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
}

.main {
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.users {
  display: flex;
  width: 100%;
}

.card {
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card h4 {
  text-transform: uppercase;
}

.card p {
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.per table {
  margin: auto;
}

.per span {
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}

td {
  font-size: 14px;
  padding-right: 15px;
}

.attendance {
  margin-top: 20px;
  text-transform: capitalize;
}

.attendance-list {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #000051;
  background: #C8ECF2;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
  background: #f3f3f3;
}

.table button {
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background: #37b5e8;
  border: none;
  transition: background 0.3s ease-in-out;
}

.table button:hover {
  background: #6fbfed;
}

.ClicktoView{
  background: #9ad3f5 !important; /* Light blue background color */
  border: none;
  padding: 2.5px !important;
}

.ClicktoView:hover{
  background: #74c7f8 !important; /* Lighter blue background color on hover */
}

.end-appointment {
  padding: 8px 0px !important;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background: #ff9f90  !important; /* Red background color */
  border: none;
  transition: background 0.3s ease-in-out;
}

.end-appointment:hover {
  background: #f1806f!important; /* Lighter red background color on hover */
}
