/* Global styles */
body, html {
  font-family: 'Arial', sans-serif;
  background-color: #C8ECF2;
}

/* Container styles */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 100%;
}

/* Form container styles */
.resistor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50rem;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Title styles */
h2 {
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

/* Form layout styles */
.form_grp_contianer_main {
  display: flex;
  background-color: rgba(119, 158, 203, 0.2);
  flex-direction: row;
}

.form-grp-container1 .form_grp_inputs,
.form-grp-container2 .form_grp_inputs {
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 12px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  width: 20rem; /* Ensure full width */
}

.form-grp-container1 .form_grp_inputs:focus,
.form-grp-container2 .form_grp_inputs:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-grp-container1 label,
.form-grp-container2 label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-grp-container1 {
  border-radius: 8px 0 0 8px;
  padding: 20px;
}

.form-grp-container2 {
  border-radius: 0 8px 8px 0;
  padding: 20px;
}

/* Button styles */

.btns_of_the_form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Reg_form_btn {
  background-color: #779ECB;
  color: white;
  font-weight: 700;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-size: large;
  transition: background-color 0.3s ease;
}

.Reg_form_btn:hover {
  background-color: #2F387B;
}

/* Navigation bar styles */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #333;
  transition: 0.3s;
}

/* Introduction text styles */
.intro {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
